[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable=fixme,cyclic-import,duplicate-code,missing-docstring,broad-exception-caught,too-few-public-methods

[FORMAT]

max-args=10
max-attributes=30
max-branches=30
max-line-length=100
max-locals=50
max-statements=100
