name: PyPI Release

on:
  release:
    types:
    - released
  workflow_dispatch:  # Manual trigger

jobs:
  build:
    name: Build wheel
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: python -m pip install --upgrade pip build

      - name: Build package
        run: python -m build

      - name: Upload production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: dist/
          retention-days: 1

  deploy:
    needs: build

    name: Upload release to PyPI
    runs-on: ubuntu-latest

    environment:
      name: pypi
      url: https://pypi.org/p/PySMLFM

    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing

    steps:
      - name: Download production artifacts
        uses: actions/download-artifact@v4
        with:
          name: package
          path: dist/

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
