name: TestPyPI Release

on:
  push:
    branches:
      - main
  release:
    types:
      - prereleased
      - published
  workflow_dispatch:  # Manual trigger

jobs:
  test-build:
    name: Build wheel
    runs-on: ubuntu-latest

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: python -m pip install --upgrade pip build

      - name: Build package
        run: python -m build

      - name: Upload production artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: dist/
          retention-days: 1

  test-deploy:
    needs: test-build

    name: Upload release to TestPyPI
    runs-on: ubuntu-latest

    environment:
      name: testpypi
      url: https://test.pypi.org/p/PySMLFM

    steps:
      - name: Download production artifacts
        uses: actions/download-artifact@v4
        with:
          name: package
          path: dist/

      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/
          skip-existing: true
          # Using token instead of trusted publishing to allow
          # 'act' to publish to TestPyPI when testing actions locally.
          user: __token__
          password: ${{ secrets.TESTPYPI_API_TOKEN }}
